* {
    color: black;
    font-family: monospace;
}

header {
    background-color: #5998ad;
    width: 100%;
    padding: 2px;
}

body {
    background-color:rgb(185, 185, 185);
}

h1 {
    margin-left: 40%;
}

.btn {
    background-color: #5998ad;
    padding: 2px;
    margin: 8px;
}

.daily-style {
    border: solid;
    margin: 3px;
    padding: 5px;
    width: 69%;
    margin-left: 25%;
    margin-top: -125px;
}

.search-card {
    border: solid;
    width: 20%;
    margin-top: 30px;
    padding: 8px;
    margin-left: 15px;
}

